$mh-color-transparent: rgba(0, 0, 0, 0);
$mh-color-primary: #1fa49a;
$mh-color-white: #fff;
$mh-color-white-transparent-75: rgba(255, 255, 255, 0.75);
$mh-color-black: #000;
$mh-color-black-dark: #3b3b3b;
$mh-color-separator: #f1f1f1;
$mh-color-separator-dark: #acacac;
$mh-color-text-black: #525252;
$mh-color-text-black-dark: #333;
$mh-color-text-logo: #b0b0b0;
$mh-color-text-gray: #585858;
$mh-color-text-gray-dark: #999;
$mh-color-text-danger: #f00;
